# {{tool.name}}}

## Introduction
{{tool.introduction|default('')}} 

## Example
To get the help menu:
~~~
Usage: {{tool.name}} [options]

{{tool.option_list}}

~~~

To run the tool use:
~~~
biopet tool {{tool.name}} {{tool.run|default('')}}   
~~~


## Output
{{tool.output|default('')}}
